#users-page, #mailboxes-page {
  background: white; }

.user-icon {
  text-align: center; }

.mailboxes-container {
  text-align: center; }
  .mailboxes-container .count {
    color: blue;
    font-weight: bold; }

.ui-btn-icon-right:after {
  right: 0.8em !important; }
